@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Play", sans-serif;
}

html {
  @apply bg-gray-950 text-gray-100;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

/* tailwind is configured to prefer this font */
@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
